{% extends "base.html" %}

{% load jstemplate %}
{% load i18n %}
{% load url from future %}
{% load shareabouts_utils %}

{% block load_early %}
{% endblock load_early %}

{% block header %}
{% endblock header %}

{% block content %}
  {% handlebarsjs '(.*)' %}

<div class="navbar navbar-inverse navbar-fixed-top" id="navbar-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="back-btn btn btn-navbar btn-navbar-right btn-full-icon">
        <span class="icon-search icon-white"></span>
      </a>

      <a class="brand" href="/"><span class="logo-tripod"><span class="logo-theodolite"></span></span>Surveyor</a>
    </div>
  </div>
</div><!--/.navbar-->

<div class="container">
  <div id="content">
    <div id="place-search-content"></div>
    <div id="survey-list-content"></div>
  </div>
</div> <!-- /container -->
{% endblock content %}

{% block load_late %}
  <script src="{{ STATIC_URL }}surveyor/app.js"></script>
  <script src="{{ STATIC_URL }}surveyor/helpers.js"></script>

  <script>
    (function(S) {
      // Set the config values
      S.config = {{ config|as_json }};

      // Initialise the templates
      var placeSearchSource = $('#place-search-tpl').html(),
          surveyListSource = $('#survey-list-tpl').html(),
          surveyItemSource = $('#survey-item-tpl').html(),
          surveyFormSource = $('#survey-form-tpl').html(),
          placeItemSource = $('#place-item-tpl').html(),
          formFieldSource = $('#form-field-tpl').html(),
          spinnerOptions = {
            lines: 13, // The number of lines to draw
            length: 20, // The length of each line
            width: 10, // The line thickness
            radius: 30, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'load-spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: 'auto', // Top position relative to parent in px
            left: 'auto' // Left position relative to parent in px
          };

      Handlebars.registerPartial('place-item-tpl', placeItemSource);
      Handlebars.registerPartial('survey-form-tpl', surveyFormSource);
      Handlebars.registerPartial('form-field-tpl', formFieldSource);
      S.placeSearchTemplate = Handlebars.compile(placeSearchSource);
      S.surveyListTemplate = Handlebars.compile(surveyListSource);
      S.surveyItemTemplate = Handlebars.compile(surveyItemSource);
      // S.surveyFormTemplate = Handlebars.compile(surveyFormSource);

      // Setup a shared spinner
      S.loadSpinner = new Spinner(spinnerOptions);

      // Create our place collection
      S.placeCollection = new Shareabouts.PlaceCollection([], {
        responseType: 'survey',
        comparator: function(place) {
          var dist = place.get('distance');
          if (_.isString(dist)) {
            dist = dist.split(' ')[0];
            return parseFloat(dist);
          }
        }
      });

      // // Create the router
      S.router = new S.Router();

      S.placeSearchView = new S.PlaceSearchView({
        el: '#place-search-content',
        collection: S.placeCollection,
        template: S.placeSearchTemplate
      });

      S.placeCollection.fetch({
        reset: true,
        data: {include_submissions: true},
        success: function() {
          // Handle history after we get the places
          Backbone.history.start({pushState: true});
        }
      });
    }(Surveyor));
  </script>
{% endblock load_late %}
