{% extends "base.html" %}

{% load jstemplate %}
{% load i18n %}
{% load url from future %}
{% load shareabouts_utils %}

{% block load_early %}
{% endblock load_early %}

{% block header %}
{% endblock header %}

{% block content %}
  {% handlebarsjs '(.*)' %}

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button class="btn btn-navbar btn-navbar-left btn-full-icon">
        <span class="icon-screenshot icon-white"></span>
      </button>

      <a class="brand" href="#">Surveyor</a>
    </div>
  </div>
</div><!--/.navbar-->

<div class="container">
  <div id="top-map"></div>
  <div id="content"></div>
</div> <!-- /container -->
{% endblock content %}

{% block load_late %}
  <script src="{{ STATIC_URL }}surveyor/app.js"></script>

  <script>
    (function(S) {
      // Set the config values
      S.config = {{ config|as_json }};

      // Initialise the templates
      var placeListSource = $('#place-list-tpl').html(),
          placeFormSource = $('#place-form-tpl').html(),
          placeItemSource = $('#place-item-tpl').html();

      Handlebars.registerPartial('place-item-tpl', placeItemSource);
      S.placeListTemplate = Handlebars.compile(placeListSource);
      S.placeFormTemplate = Handlebars.compile(placeFormSource);

      // Create our place collection
      S.placeCollection = new Shareabouts.PlaceCollection();

      // Create the router
      S.router = new S.Router({content: '#content'});

      // Create the list view
      S.placeListView = new S.PlaceListView({
        collection: S.placeCollection,
        template: S.placeListTemplate,
        el: '#content'
      });

      // Create the map view
      S.mapView = new S.MapView({
        el: '#top-map',
        mapConfig: S.config.map,
        collection: S.placeCollection
      });

      Backbone.history.start({pushState: true});
    }(Surveyor));
  </script>
{% endblock load_late %}
