{% extends "base.html" %}

{% load jstemplate %}
{% load i18n %}
{% load url from future %}
{% load shareabouts_utils %}

{% block load_early %}
{% endblock load_early %}

{% block header %}
{% endblock header %}

{% block content %}
  {% handlebarsjs '(.*)' %}

<div class="navbar navbar-inverse navbar-fixed-top" id="navbar-top">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="back-btn btn btn-navbar btn-navbar-left btn-full-icon">
        <span class="icon-chevron-left icon-white"></span>
      </a>

      <a class="brand" href="/">Surveyor</a>
    </div>
  </div>
</div><!--/.navbar-->

<div class="container">
  <div id="top-map"></div>
  <div id="content"></div>
</div> <!-- /container -->
{% endblock content %}

{% block load_late %}
  <script src="{{ STATIC_URL }}surveyor/app.js"></script>

  <script>
    (function(S) {
      // Set the config values
      S.config = {{ config|as_json }};

      // Template helpers
      Handlebars.registerHelper('isInput', function(options) {
        if (!this.type || (this.type !== 'textarea' && this.type !== 'select' && this.type !== 'file')) {
          return options.fn(this);
        }
      });

      Handlebars.registerHelper('isTextarea', function(options) {
        if (this.type === 'textarea') {
          return options.fn(this);
        }
      });

      Handlebars.registerHelper('isSelect', function(options) {
        if (this.type === 'select') {
          return options.fn(this);
        }
      });

      Handlebars.registerHelper('isFile', function(options) {
        if (this.type === 'file') {
          return options.fn(this);
        }
      });

      Handlebars.registerHelper('isFileInputSupported', function(options) {
        if (Shareabouts.Util.fileInputSupported()) {
          return options.fn(this);
        } else {
          return options.inverse(this);
        }
      });

      Handlebars.registerHelper('getAttr', function(obj, attr, options) {
        if (obj !== undefined) {
          return obj[attr];
        }
      });

      Handlebars.registerHelper('select', function(value, options) {
        var $el = $('<select />').html(options.fn(this));
        $el.find('[value="' + value + '"]').attr('selected', 'selected');
        return $el.html();
      });

      // Initialise the templates
      var placeListSource = $('#place-list-tpl').html(),
          placeFormSource = $('#place-form-tpl').html(),
          placeItemSource = $('#place-item-tpl').html();

      Handlebars.registerPartial('place-item-tpl', placeItemSource);
      S.placeListTemplate = Handlebars.compile(placeListSource);
      S.placeFormTemplate = Handlebars.compile(placeFormSource);

      // Create our place collection
      S.placeCollection = new Shareabouts.PlaceCollection([], {responseType: 'survey'});

      // Create the router
      S.router = new S.Router({content: '#content'});

      // Create the list view
      S.placeListView = new S.PlaceListView({
        collection: S.placeCollection,
        template: S.placeListTemplate,
      });
      S.placeFormViews = {};

      // Create the content managing view
      S.contentView = new S.ContentView({
        el: '#content'
      });

      // Create the map view
      S.mapView = new S.MapView({
        el: '#top-map',
        mapConfig: S.config.map,
        collection: S.placeCollection
      });

      S.navbarView = new S.NavbarView({
        el: '#navbar-top'
      });

      Backbone.history.start({pushState: true});
    }(Surveyor));
  </script>
{% endblock load_late %}
