.address,
.more-places {
  font-size: 18px;
  display: block;
}

.last-survey {
  display: block;
  font-size: 12px;
}

a.address {
  color: inherit;
}

.address p {
  margin: 0px;
}

.address:hover {
  cursor: pointer;
}

.more-places {
  text-align: center;
  color: silver;
  margin-bottom: 1em;
}

.btn-navbar.btn-navbar-left {
  float: left;
}

.btn-navbar.btn-full-icon {
  /* We're using full-size icons in here, to the
   * btn-navbar padding of 7px vertically is too
   * big.
   */
  padding: 3.5px 12px;
}

#top-map {
  height: 100px;

  margin-left: -20px;
  margin-right: -20px;
  margin-top: -20px;
  margin-bottom: 20px;

  border-bottom: 1px solid gray;
}

#mock-problems-note {
  display: none;
}

hr {
  margin-left: -20px;
  margin-right: -20px;
}

.form-actions {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 0;
}

body.splash {
  padding: 0;
}

body.splash .navbar {
  margin: 0;
}

.leaflet-control-locate a {
  border-radius: 4px;
  font: bold 13px/18px Tahoma, Verdana, sans-serif;
}

.leaflet-control-locate a div {
  /* Safari */
  -webkit-transform: rotate(-45deg);

  /* Firefox */
  -moz-transform: rotate(-45deg);

  /* IE */
  -ms-transform: rotate(-45deg);

  /* Opera */
  -o-transform: rotate(-45deg);
}

.load-spinner {
  margin-top: 120px;
  margin-left: 50%;
}

.mini-alert {
  padding: 4px 4px 4px 4px;
  margin-bottom: 0;
}

.survey-save-success,
.survey-save-inprogress {
  display: none;
}

.survey-save-inprogress {
  padding-left: 40px;
}

.save-spinner-wrapper {
  position: relative;
  top: 5px;
  left: -10px;
}

.back-btn {
  display: none;
}

@media (max-width: 979px) {
  .navbar .brand {
    float: none;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
  }

  .place-form {
    margin-bottom: 0;
  }
}

@media (min-width: 980px) {
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .back-btn {
    display: none !important;
  }
}
