.navbar {
  position: fixed;
  top: 0;
  margin: 0;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  text-align: center;
  background: #47a;
}
body {
  padding-top: 51px;
}
.navbar .brand {
  font-family: 'Dancing Script', sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #fff;
  float: none;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 2em;
  padding-left: 4em;
}

.logo-tripod,
.logo-tripod:before,
.logo-tripod:after {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1.125em;
  height: 0.6em;
  width: 0.1em;
  border-radius: 0.1em;
  background: rgba(153,204,238,1);
}
.logo-tripod:before,
.logo-tripod:after {
  content: "";
  left: 0;
  top: 0;
  margin-left: 0;
  background: rgba(153,204,238,0.9);
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);
  -webkit-transform-origin: 50% 0%;
      -ms-transform-origin: 50% 0%;
          transform-origin: 50% 0%;
}
.logo-tripod:after {
  -webkit-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
          transform: rotate(-25deg);

}
.logo-theodolite {
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-left: -0.125em;
  height: 0.4em;
  width: 0.25em;
  border-radius: 0.1em;
  background: rgba(153,204,238,0.4);
  box-shadow: inset -0.08em 0.15em 0 0 rgba(153,204,238,1),
              inset 0.08em -0.15em 0 0 rgba(153,204,238,1),
              inset -0.08em -0.15em 0 0 rgba(153,204,238,1),
              inset 0.08em 0.15em 0 0 rgba(153,204,238,1);
}
.logo-theodolite:before,
.logo-theodolite:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.05em;
  margin-left: -0.1em;
  height: 0.1em;
  width: 0.2em;
  border-radius: 0.1em;
  box-shadow:
  0.25em 0 0 rgba(255,255,255,0.6),
  0.5em 0 0 rgba(255,255,255,0.55),
  0.75em 0 0 rgba(255,255,255,0.4),
  1.0em 0 0 rgba(255,255,255,0.25),
  1.25em 0 0 rgba(255,255,255,0.2),
  1.5em 0 0 rgba(255,255,255,0.15),
  1.75em 0 0 rgba(255,255,255,0.1),
  2.0em 0 0 rgba(255,255,255,0.05),

  -0.25em 0 0 rgba(255,255,255,0.6),
  -0.5em 0 0 rgba(255,255,255,0.55),
  -0.75em 0 0 rgba(255,255,255,0.4),
  -1.0em 0 0 rgba(255,255,255,0.25),
  -1.25em 0 0 rgba(255,255,255,0.2),
  -1.5em 0 0 rgba(255,255,255,0.15),
  -1.75em 0 0 rgba(255,255,255,0.1),
  -2.0em 0 0 rgba(255,255,255,0.05)
  ;
}
.logo-theodolite:after {
  z-index: 2;
  -webkit-transform: rotate(-20deg);
      -ms-transform: rotate(-20deg);
          transform: rotate(-20deg);
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.place-list {
  margin-top: -20px;
}
.place-list li {
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid #eee;
}
.place-list li:first-child {
  border-top: 0;
}

.place-list .label {
  display: block;
  text-align: center;
  background: #47a;
  border-radius: 0px;
}

.address,
.more-places {
  font-size: 18px;
  display: block;
}

a.address {
  color: inherit;
  padding: 20px;
  text-decoration: none;
}

.last-survey {
  display: block;
  font-size: 12px;
}

.address p {
  margin: 0px;
}

.address:hover {
  cursor: pointer;
}

.more-places {
  text-align: center;
  color: silver;
  margin-bottom: 1em;
}

.navbar-inverse .btn-navbar {
  background: transparent;
}
.navbar-inverse .btn-navbar:hover {
  background: rgba(0,0,0,0.1);
}

.btn-navbar.btn-navbar-left {
  float: left;
}

.btn-navbar.btn-navbar-right {
  float: right;
}

.btn-navbar.btn-full-icon {
  /* We're using full-size icons in here, to the
   * btn-navbar padding of 7px vertically is too
   * big.
   */
  padding: 3.5px 12px;
}

#content {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.place-list,
.survey-form {
  position: relative;
  z-index: 1029;
  background: #fff;
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#mock-problems-note {
  display: none;
}

hr {
  margin-left: -20px;
  margin-right: -20px;
}

.form-actions {
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 0;
}

body.splash {
  padding: 0;
}

body.splash .navbar {
  margin: 0;
}

.leaflet-control-locate a {
  border-radius: 4px;
  font: bold 13px/18px Tahoma, Verdana, sans-serif;
}

.leaflet-control-locate a div {
  /* Safari */
  -webkit-transform: rotate(-45deg);

  /* Firefox */
  -moz-transform: rotate(-45deg);

  /* IE */
  -ms-transform: rotate(-45deg);

  /* Opera */
  -o-transform: rotate(-45deg);
}

.load-spinner {
  margin-top: 120px;
  margin-left: 50%;
}

.mini-alert {
  padding: 4px 4px 4px 4px;
  margin-bottom: 0;
}

.survey-save-success,
.survey-save-inprogress {
  display: none;
}

.survey-save-inprogress {
  padding-left: 40px;
}

.save-spinner-wrapper {
  position: relative;
  top: 5px;
  left: -10px;
}

.back-btn {
  display: none;
}

.toggle input[type="checkbox"] {
  display: none;
}

/*
 * Bootstrap uses a class*="span" selector, which matches "hispanic", so we
 * resetit here.
 */
.survey-field-owner_is_hispanic,
.survey-label-owner_is_hispanic,
.survey-widgets-owner_is_hispanic {
  float: none;
  min-height: auto;
  margin-left: auto;
  width: auto;
}

.survey-fieldset-owner_identity .survey-field {
  float: left;
  margin: 3px;
}

@media (min-width: 1200px) {
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar .container,
  .container {
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
}

@media (max-width: 480px) {
}

@media (max-width: 979px) {
}

@media (min-width: 980px) {
  .navbar-inner {
    padding: 5px;
  }
  .navbar .container,
  .container {
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
  }
}
